@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* Warna Background Sementara */
  background-color: hsl(240, 10%, 16%);
}

header {
  background-color: hsl(353, 100%, 62%);
  font-family: "Overpass";
  border-bottom-left-radius: 85px;
}

a {
  text-decoration: none;
}

/* Navbar Session Start */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 75px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
  width: 90px;
  height: 35px;
}

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(-100px);
}

/* Latihan Navbar Dropdown */
.dropdown {
  font-size: 12px;
}

.product,
.company,
.contact {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  padding: 30px 25px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  padding: 15px 7px 15px 15px;
  list-style-type: none;
  border-radius: 3px;
  transition: 5s;
}

.drop-ctn-1,
.drop-ctn-2,
.drop-ctn-3 {
  transform: translate(10px, 15px);
  line-height: 25px;
  width: 100px;
  box-sizing: border-box;
}

/* Dropdown Link 1 Product */
.drop-ctn-1 li a,
.drop-ctn-2 li a,
.drop-ctn-3 li a {
  color: hsl(207, 13%, 34%);
}

.drop-ctn-1 li a:hover,
.drop-ctn-2 li a:hover,
.drop-ctn-3 li a:hover {
  color: hsl(240, 10%, 16%);
}

/* Dropdown Link Hover Start */
.dropdown:hover .drop-ctn-1,
.dropdown:hover .drop-ctn-2,
.dropdown:hover .drop-ctn-3 {
  display: block;
  font-weight: 600;
}

/* Dropdown Link Hover End */

/* Style Button Start */

button {
  /* padding: 8px 25px; */
  width: 100px;
  height: 35px;
  border-radius: 99px;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.login {
  color: hsl(0, 0%, 100%);
  background-color: hsl(353, 100%, 62%);
  border: 2px solid hsl(353, 100%, 62%);
  /* font-size: 12px; */
}

.signup {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
}

.signup:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 25%);
  border: 2px solid hsla(0, 0%, 100%, 0%);
}

/* Style Button End */
/* Navbar Session End */

/* Cover Session Start */
.cover {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 380px;
  border-bottom-left-radius: 85px;
  /* background-color: hsl(240, 10%, 16%); */
}

.title-cover {
  text-align: center;
  transform: translateY(100%);
}

h1,
p {
  color: hsl(0, 0%, 100%);
}

h1 {
  font-size: 40px;
}

p {
  font-size: 13px;
  margin-top: 15px;
}

.button-cover {
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
  width: 250px;
  transform: translateY(90px);
  /* background-color: hsl(240, 10%, 16%); */
}

.btn-cover-1 {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 100%);
}

.btn-cover-2 {
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 100%);
}

.btn-cover-1:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsla(0, 0%, 100%, 25%);
  border: 2px solid hsla(0, 0%, 100%, 0%);
}

.btn-cover-2:hover {
  color: hsl(353, 100%, 62%);
  background-color: hsl(0, 0%, 100%);
}

/* Cover Session End */
